.App {
  margin-top: 100px;
}
.todoStyle {
  width: 40%;
  height: 30px;
  border: solid 1px teal;
  margin: auto;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
  transition: .5s;
}
.btnClear {
  color:  red;
  float: right ;
}
.inpTextStyle {
  width: 40%;
  height: 30px;
  border: solid 1px teal;
  margin: auto;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
}
.inpTextStyle input {
  width: 70%;
  padding: .4rem;
  border: solid 1px teal;
}
.inpTextStyle input:hover {
 background-color: rgb(176, 228, 241);
}
.inpTextStyle button {
 float: right;
 height: 20px;
 font-size: 15px;
 color: black;
 height: 30px;
}
.todoFooterStyle {
  width: 40%;
  height: 30px;
  border: solid 1px teal;
  margin: auto;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
}
.todoFooterStyle button {
  color: red;
  float: right;
}
